:root {
  --fg: #000;
  --bg: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #fff;
    --bg: #000;
  }
}

body {
  color: var(--fg);
  background-color: var(--bg);
  fill: var(--fg);

  margin: 0em auto;
  max-width: 50em;
  padding: 1em;
  font: 1.2em/1.6 monospace;
}

p {
  font: 0.8em/1.3 sans-serif;
}

a {
  color: inherit;
}

a:hover,
div.nav-item:hover {
  color: var(--bg);
  fill: var(--bg);
  background-color: var(--fg);
  text-decoration: none;
}

.title {
  margin-top: 1.5em;
}

.title h1 {
  margin-top: 0em;
  margin-bottom: 0em;
}

.content {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

main h1 {
  border-bottom: 0em;
  margin-bottom: 0em;
}

main svg {
  width: 8em;
}

.row {
  display: flex;
  align-items: center;
}

.row time {
  white-space: nowrap;
}

.nav-bar {
  display: flex;
  align-items: stretch;
  border-bottom: 0.1em solid;
}

.nav-home {
  display: flex;
  align-items: flex-end;
  border-right: 0.1em solid;
}

.nav-home a {
  display: block;
  border: 0.3em solid var(--bg);
  margin: 0.7em;
}

.nav-home a:hover {
  border-color: var(--fg);
}

.nav-home a svg {
  display: block;
  width: 3em;
}

.nav-items {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: 1em;
  column-gap: 1em;
  margin: 1em;
}

.nav-item {
  /* Must specify border color so it doesn't change on hover */
  border: 0.1em solid var(--fg);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.nav-item a {
  display: block;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

.list-heading {
  margin: 0.5em;
}

footer {
  margin-top: 1.0em;
  text-align: center;
  font: 0.8em monospace;
}
